<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FoodDelivery"
        tools:targetApi="31">
        <activity
            android:name=".TestimonialsActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".DeliverToActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".FavoriteFoodActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".DeleteOrderActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".FoodTypesActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PopularMenuActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SelectPaymentMethodActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ChatListActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".FindFoodActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PromotionActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".RateMaleActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".CallingActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".OrderCompletedActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".RateRestaurantActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ChooseLocationActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ForgotPassActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".CongratsActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SetLocationActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".UploadPhotoActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".BioActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ProfileDetailsActivity"
            android:exported="true"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>